ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=https://0.0.0.0:443/
ASPNETCORE_Kestrel__Certificates__Default__Password=[your password]
ASPNETCORE_Kestrel__Certificates__Default__Path=/app/ssl.pfx
DbConnectionString=your_string
TgToken=your_token
WebhookUrl=example_webhook
SSLCertPath=ssl.pem
UseSocks5=false
Socks5Host=your_host
Socks5Port=-1