#Postgresql connection string
DB_CONNECTION_STRING=""
#Telegram bot access token
TOKEN=""
#Webhook url
WEBHOOK_URL=""
#Enable Socks5 proxy
SOCKS5_ENABLED=false
#Specify if SOCKS5_ENABLED=true, else could be empty
SOCKS5_HOST=""
#Specify if SOCKS5_ENABLED=true, else could be empty
SOCKS5_PORT=""