ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=https://0.0.0.0:443/
ASPNETCORE_Kestrel__Certificates__Default__Password=
ASPNETCORE_Kestrel__Certificates__Default__Path=
DbConnectionString=Host=;Port=35432;Username=tg_bot;Password=;Database=word_bot_database;Pooling=true;Minimum Pool Size=30;Maximum Pool Size=300
TgToken=
WebhookUrl=
SSLCertPath=
UseSocks5=false
Socks5Host=
Socks5Port=-1
UserToLog=
